
<link href="~/Content/css/cartstyle.css" rel="stylesheet" />




@if (TempData["total"] == null)
{
    <h1>Cart is empty</h1>
    <a href="@Url.Action("index", "home")">GO back</a>
}
else
{
    <style>
        .faaa {
            position: absolute;
            top: 20%;
        }
    </style>
    <div class="container faaa">
        <div class="row">


            <div class="col-md-12 ftco-animate fadeInUp ftco-animated">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th></th>
                                <th>ID</th>
                                <th>Product name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var producttable in TempData["cart"] as List<DMS.Controllers.Cart>)
                            {


                                <tr class="text-center">
                                    <td class="product-remove"><a href="@Url.Action("remove", "home", new { id = producttable.pid })"><span class="ion-ios-close"></span></a></td>

                                    <td class="image-prod"><div class="img" style="background-image:url(images/product-3.jpg);"></div></td>


                                    <td class="product-name">
                                        <h3>@producttable.pid</h3>

                                    </td>


                                    <td class="product-name">
                                        <h3>@producttable.pname</h3>

                                    </td>

                                    <td class="price">@producttable.price</td>

                                    <td class="quantity">
                                        @producttable.qty


                                    </td>

                                    <td class="total">@producttable.bill</td>
                                </tr><!-- END TR-->
                            }
                            <!--<tr class="text-center">
                                <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

                                <td class="image-prod"><div class="img" style="background-image:url(images/product-4.jpg);"></div></td>

                                <td class="product-name">
                                    <h3>Bell Pepper</h3>
                                    <p>Far far away, behind the word mountains, far from the countries</p>
                                </td>

                                <td class="price">$15.70</td>

                                <td class="quantity">
                                    <div class="input-group mb-3">
                                        <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                                    </div>
                                </td>

                                <td class="total">$15.70</td>
                            </tr>-->
                            <!-- END TR-->
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
        <div class="row justify-content-end">


            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>$20.60</span>
                    </p>
                    <p class="d-flex">
                        <span>Delivery</span>
                <p><a href="@Url.Action("Checkou", "home")" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>


            </div>
        </div>
    </div>
        </div>
}
