
<style>
    .products .box {
        position: absolute;
        top: 30%;
    }
</style>
<section class="products">


    <div class="box-container">

        @foreach (var file in Model)
        {
            <div class="box">
                <div class="icons">
                    @if (Session["cid"] != null)
                    {
                        <a href="@Url.Action("Single","Home",new { id=@file.pid })" class="fas fa-shopping-cart cartaddbtn"></a>
                    }
                    else
                    {
                        <a class="fas fa-shopping-cart cartaddbtn"></a>

                        <script>
                            var el = document.querySelectorAll(".cartaddbtn"); // this element contains more than 1 DOMs.
                            for (var i = 0; i < el.length; i++) {
                                el[i].onclick = function () {
                                    alert("Please login to add to cart");
                                };
                            }



                        </script>
                    }


                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>

                @*<a href="@Url.Action("Single","home",new { id=file.pid })"></a>*@
                <div class="img">
                    <img src="@Url.Content(file.pimage)" />
                </div>



                <div class="content">


                    <h3>@file.pname</h3>
                    Rs &nbsp; <div class="price">@file.pprice</div>

                </div>
            </div>



          
        }

    </div>

</section>