
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complete responsive cake website design</title>

    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- custom css file link -->
    <link rel="stylesheet" href="~/Content/css/style.css">

 

</head>
@*<script>
    //let cartIcon = document.querySelector("#cart-icon");
    //let cart = document.querySelector(".cart");
    //let closeCart = document.querySelector("#close-cart");

    //cartIcon.onclick = () => {
    //    cart.classList.add("active");
    //};

    //closeCart.onclick = () => {
    //    cart.classList.remove("active");
    //};


    //if (document.readyState == 'loading') {
    //    document.addEventListener('DOMContentLoaded', ready);
    //}
    //else {
    //    ready();
    //}

    //function ready() {
    //    var removeCartButtons = document.getElementsByClassName('cart-remove')
    //    console.log(removeCartButtons)
    //    for (var i = 0; i < removeCartButtons.length; i++) {
    //        var button = removeCartButtons[i];
    //        button.addEventListener('click', removeCartitems);
    //    }
    //    //quantity changes
    //    var quantityinputs = document.getElementsByClassName('cart-qty');
    //    for (var i = 0; i < quantityinputs.length; i++) {
    //        var input = quantityinputs[i]
    //        input.addEventListener("change", quantityChanged);
    //    }
    //    //add to cart
    //    var addCart = document.getElementById('add-cart')
    //    for (var i = 0; i < addCart.length; i++) {
    //        var button = addCart[i]
    //        button.addEventListener('click', addCartClicked)

    //    }

    //}


    ////remove item from cart
    //function removeCartitems(event) {
    //    var buttonClicked = event.target;
    //    buttonClicked.parentElement.remove();
    //    updatetotal();
    //}
    ////quantity changes

    //function quantityChanged(event) {
    //    var input = event.target;
    //    if (isNaN(input.value) || input.value <= 0) {
    //        input.value = 1;
    //    }
    //    updatetotal();
    //}
    ////add to cart

    //function addCartClicked(event) {
    //    var button = event.target
    //    var shopProducts = button.parentElement
    //    var title = shopProducts.getElementsByClassName('product-title')[0].innerText
    //    var price = shopProducts.getElementsByClassName('price')[0].innerText
    //    var productImg = shopProducts.getElementsByClassName('product-img')[0].src
    //    addProductToCart(title, price, productImg);
    //    updatetotal();
    //}

    //function addProductToCart(title, price, productImg) {
    //    var cartShopbox = document.createElement("div");
    //    cartShopbox.classList.add("cart-box");
    //    var cartItems = document.getElementsByClassName('cart-content')[0];
    //    var cartItemsNames = cartItems.getElementsByClassName('cart-product-title');
    //    for (var i = 0; i < cartItemsNames.length; i++) {
    //        alert('you have already add this item to the cart');
    //        return;
    //    }
    //}
    //var cartBoxContent = `<img src="anime-sky-4k-0f-1920x1080.jpg" class="cart-img">
    //<div class="detail-box">
    //<div class="cart-product-title">Donut</div>
    //<div class="cart-price">10</div>
    //<input type="number" value="1" class="cart-qty">
    //</div>
    //<i class='bx bxs-trash-alt cart-remove' id="cart-remove"></i>`;

    //cartShopbox.innerHTML = cartBoxContent;
    //cartItems.append(cartShopbox)
    //cartShopbox.getElementsByClassName('cart-remove')[0].addEventListener('click', removeCartitems)
    //cartShopbox.getElementsByClassName('cart-qty')[0].addEventListener('change', quantityChanged)
    ////update total
    //function updatetotal() {
    //    var cartContent = document.getElementsByClassName('cart-content')[0];
    //    var cartboxes = cartContent.getElementsByClassName('cart-box')
    //    var total = 0;
    //    for (var i = 0; i < cartboxes.length; i++) {
    //        var cartbox = cartboxes[i]
    //        var priceElement = cartbox.getElementsByClassName('cart-price')[0]
    //        var quantityElement = cartbox.getElementsByClassName('cart-qty')[0]
    //        var price = parseFloat(priceElement.innerText.replace("Rs", ""));
    //        var quantity = quantityElement.value
    //        total = total + price * quantity;

    //        //if price in decimal
    //        total = Math.round(total * 100) / 100;
    //        document.getElementsByClassName('total-price')[0].innerText = 'Rs' + total;
    //    }
    //}
</script>*@
<body>

    <!-- header section start page -->

    <header class="header">
        <a href="#" class="logo"> <i class="fas fa-shopping-basket"></i> SAMP BAKERY </a>

        <nav class="navbar">
            @Html.ActionLink("Home", "Index", "Home")
            <a href="#category">Shop</a>
            <a href="#about"> About Us</a>
            <a href="#review">Review</a>
            <a href="#blog">Blog</a>
            <a href="#contact">Contact</a>

        </nav>
        <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="search-btn" class="fas fa-search"></div>
            <style>
                sup{
                    font-weight:bold;
                    font-size: 14px;
                }
            </style>
            <a href="@Url.Action("Checkout","home")">
                     <div id="cart-btn" class="fas fa-shopping-cart"></div></a>
            @if (TempData["item_count"] == null)
            {
                <sup>[0]</sup>
            }
            else
            {
        <sup>[@TempData["item_count"]]</sup>
            }

<a href="@Url.Action("index","Admin")"> <div id="login-btn" class="fas fa-user"></div></a>

                <style>
                    #login-btn {
                        position: absolute;
                        top: 23px;
                        right: 80px;
                    }
                </style>




                <p id="userloginname" style="cursor: pointer">
                    <style>
                        .icons-size {
                            color: #333;
                            font-size: 14px;
                        }

                        .action {
                     position: fixed;
                         right: 55px;
                     top: 15px
                        }

                            .action .profile {
                         border-radius: 50%;
                     cursor: pointer;
                     height: 40px;
                     overflow: hidden;
                     position: relative;
                     width: 40px;
                     }

                                .action .profile img {
                         width: 100%;
                         top: 0;
                         position: absolute;
                                    object-fit: cover;
                         left: 0;
                         height: 100%;
                     }

                            .action .menu {
                         background-color: #FFF;
                                box-sizing: 0 5px 25px rgba(0,0,0,0.1);
                         border-radius: 15px;
                     padding: 10px 20px;
                     position: absolute;
                     right: -10px;
                     width: 200px;
                     transition: 0.5s;
                     top: 120px;
                     visibility: hidden;
                     opacity: 0;
                     }

                                .action .menu.active {
                     opacity: 1;
                     top: 80px;
                     visibility: visible;
                     }

                                .action .menu::before {
                         background-color: #fff;
                                    content: '';
                     height: 20px;
                     position: absolute;
                     right: 30px;
                     transform: rotate(45deg);
                     top: -5px;
                     width: 20px;
                     }

                                .action .menu h3 {
                         color: #555;
                                    font-size: 16px;
                         font-weight: 600;
                         line-height: 1.3em;
                         padding: 20px 0px;
                         text-align: left;
                         width: 100%;
                     }

                                    .action .menu h3 div {
                                        color: #818181;
                                        font-size: 14px;
                     font-weight: 400;
                                    }

                                .action .menu ul li {
                                    align-items: center;
                     border-top: 1px solid rgba(0,0,0,0.05);
                 display: flex;
                     justify-content: left;
                     list-style: none;
                 padding: 10px 0px;
                                }

                                    .action .menu ul li img {
                                        max-width: 20px;
                     margin-right: 10px;
                 opacity: 0.5;
                 transition: 0.5s
                                    }

                                    .action .menu ul li a {
                                        display: inline-block;
                 color: #555;
                                        font-size: 14px;
                     font-weight: 600;
                     padding-left: 15px;
                     text-decoration: none;
                     text-transform: uppercase;
                 transition: 0.5s;
                                    }

                                    .action .menu ul li:hover img {
                         opacity: 1;
                     }

                                    .action .menu ul li:hover a {
                         color: #ff00ff;
                                    }
                    </style>


                    @if (Session["cfullname"] != null)
                    {
                        <script>
                            document.getElementById("login-btn").style.display = "none";


                            function menuToggle() {
                                const toggleMenu = document.querySelector('.menu');
                                toggleMenu.classList.toggle('active')
                            }


                        </script>


                        <div class="action">
                            <div class="profile" onclick="menuToggle();">
                                <img src="~/Content/Images/userimage.png" alt="Alternate Text" />
                            </div>

                            <div class="menu">


                                <h3>
                                    <center>   Welcome</center>
                                    <p><center>@((Session["cfullname"]).ToString())</center></p>

                                </h3>
                                <ul>
                                    <li>

                                        <a href="@Url.Action("profile","Home")">My Profile</a>
                                    </li>
                                    <li>

                                        <a href="@Url.Action("logout","Home")">Log Out</a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    }

                    else
                    {
                        <script>
                            document.getElementById("login-btn").style.display = "block";
                        </script>
                    }
                </p>




</div>


    </header>




    @RenderBody()




    <section class="credit">created by Dailywebdesign || all rights reserved</section>



    <script src="~/Content/css/scriptjs.js"></script>


    <script src="~/Content/js/signupjs.js"></script>
</body>
<!-- end: BODY -->

</html>
