
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Product";
    int sn = 0;

}

@*@using (Html.BeginForm("index", "addproduct", FormMethod.Get))
{
    <select>
        <option value="" name="id">ID</option>
        <option value="" name="name">Name</option>
        <option value="" name="address">Address</option>
        <option value="" name="contact">Contact</option>
    </select>
}
@using (Html.BeginForm("index", "employee", FormMethod.Post))
{
    <lable>Search BY Name:</lable>
    <input type="text" name="name" value="" class="namee" />
    <input type="submit" value="search" class="button" />
    <br />
    <br />
}*@
<style>
    th {
        border: 3px solid black;
        padding: 4px;
        background-color: aquamarine;
    }
</style>

<table class="table" border="1">
    <tr>
        <th>SN</th>
        <th>id</th>
        <th>Fullname</th>
        <th>Address</th>
        <th>PNO</th>

        <th>Email</th>
        
        @*<th>edit</th>*@
    </tr>
    @foreach (var regcustomer in Model)
    {
        <tr>
            <td>@(++sn)</td>
            <td>@regcustomer.id</td>
            <td>@regcustomer.cfullname</td>
            <td>@regcustomer.caddress</td>
            <td>@regcustomer.cpno</td>
            <td>@regcustomer.cemail</td>
            
            @*<td><a href="@Url.Action("Edit", new {pid=addproduct_table.pid})">Edit</a></td>*@
        </tr>
    }
</table>


