@model DMS.DAL.DatabaseContext.producttable
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Product";

}


@using (Html.BeginForm("UpdateData", "addproduct"))
{
    <input type="hidden" name="pid" value="@Model.pid" />
    <div class="col-md-12">
        <img src="@(Model.pimage!=null?Url.Content(Model.pimage):"")" height="110" width="110" />
        <input type="hidden" name="pimage" value="@Model.pimage" />
    </div>

    <label class="col-md-12">NAME</label>
    <div class="col-md-12">
        <input type="text" name="pname" value="@Model.pname" class="form-control" />
    </div>


    <label class="col-md-12">CATEGORY </label>
    <div class="col-md-12">
        <select name="pcategory" value="@Model.pcategory" style="width:150px; text-align:center">
            <option style="display:none;"></option>
            <option value="cake">cake</option>
            <option value="flour">flour</option>
            <option value="chocolate">chocolate</option>
            <option value="cupcake">cupcake</option>
            <option value="donut">donut</option>
            <option value="sandwich">sandwich</option>
        </select>
    </div>


    <label class="col-md-12">price: </label>
    <div class="col-md-12">
        <input type="text" name="pprice" value="@Model.pprice" class="form-control" />
    </div>
   <br>

    <label class="col-md-12">EXPDATE: </label>
    <div class="col-md-12">
        <input type="date" name="pexpdate" value="@Model.pexpdate" class="form-control" />
    </div>
    <label class="col-md-12">MFDATE</label>
    <div class="col-md-12">
        <input type="date" name="pmfddate" value="@Model.pmfddate" class="form-control" />
    </div>

    <div class="col-md-12">
        <input style="margin-top:12px;" type="submit" name="submit" class="btn btn-success" value="Save" id="submit" />
    </div>
}
