
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Product";
    int sn = 0;
}


<a href="@Url.Action("Create")" style="color:green;">Add new Record</a>
<h3>Database Table Display</h3>
<style>
    th {
        border: 3px solid black;
        padding: 4px;
        background-color: aquamarine;
    }
</style>

<h2>Display</h2>
@*@using (Html.BeginForm("index", "addproduct", FormMethod.Get))
{
    <select>
        <option value="" name="id">ID</option>
        <option value="" name="name">Name</option>
        <option value="" name="address">Address</option>
        <option value="" name="contact">Contact</option>
    </select>
}*@
@using (Html.BeginForm("Index", "addproduct", FormMethod.Post))
{
    <lable>Search BY Name:</lable>
    <input type="text" name="namesearch" value=""  id="searchtxt" />
    <input type="submit" name="name" class="button" id="searchbtn"/>
    <br />
    <br />
}
<i class="fa fa-refresh" id="refresh" onclick="refreshtxt()"></i>


<table class="table" border="1">
    <tr>
        <th>SN</th>
        <th>id</th>
        <th>name</th>
        <th>category</th>
        <th>price</th>

        <th>mfddate</th>
        <th>Expdate</th>

        <th>edit</th>
        <th>delete</th>
    </tr>
    @foreach (var addproduct_table in Model)
    {
<tr>
    <td>@(++sn)</td>
    <td>@addproduct_table.pid</td>
    <td>@addproduct_table.pname</td>
    <td>@addproduct_table.pcategory</td>
    <td>@addproduct_table.pprice</td>
    <td>@addproduct_table.pmfddate</td>
    <td>@addproduct_table.pexpdate</td>
    <td><a href="@Url.Action("edit", new {id=addproduct_table.pid})">EDIT</a></td>
    <td><a href="@Url.Action("deletedata", new { pid=addproduct_table.pid})">DELETE</a></td>
</tr>
    }
</table>
<script src="jquery-3.6.0.min.js"></script>
<script>
   function refeshtxt(){
       document.getElementById('searchtxt').value = " ";
       $("#searchtxt").click();
   }
</script>

<style>
    #refresh:hover{
        cursor:pointer;
    }
</style>



