
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "View Products";
    int sn = 0;
}




<style>
    th {
        border: 3px solid black;
        padding: 4px;
        background-color: aquamarine;
    }
</style>


@*@using (Html.BeginForm("index", "addproduct", FormMethod.Get))
{
    <select>
        <option value="" name="id">ID</option>
        <option value="" name="name">Name</option>
        <option value="" name="address">Address</option>
        <option value="" name="contact">Contact</option>
    </select>
}*@

<h2>@ViewBag.Count</h2>
@using (Html.BeginForm("Index", "addproduct", FormMethod.Post))
{
    <lable>Search BY Name:</lable>
    <input type="text" name="namesearch" value=""  id="searchtxt" />
    <input type="submit" name="name" class="button" id="searchbtn"/>
<a href="@Url.Action("index","addproduct")"><i class="fa fa-refresh fa-lg" id="refresh"></i></a>
}



<table class="table" border="1">
    <tr>
        <th>SN</th>
        <th>id</th>
        <th>name</th>
        <th>category</th>
        <th>price</th>
        <th>Image</th>
        
        <th>mfddate</th>
        <th>Expdate</th>

        <th>edit</th>
        <th>delete</th>
    </tr>
    @foreach (var addproduct_table in Model)
    {
<tr>
    <td>@(++sn)</td>
    <td>@addproduct_table.pid</td>
    <td>@addproduct_table.pname</td>
    <td>@addproduct_table.pcategory</td>
    <td>@addproduct_table.pprice</td>
    <td><img src="@(addproduct_table.pimage!=null?Url.Content(addproduct_table.pimage):"")" height="110" width="110"/></td>
    <td>@addproduct_table.pmfddate</td>
    <td>@addproduct_table.pexpdate</td>
    <td><a href="@Url.Action("edit", new {id=addproduct_table.pid})">EDIT</a></td>
    <td><a href="@Url.Action("deletedata", new { pid=addproduct_table.pid})">DELETE</a></td>
</tr>
    }
</table>
<script src="jquery-3.6.0.min.js"></script>
<script>
    $('#refresh').click(function () {
        $("#searchtxt").click();
    })
</script>

<style>
    #refresh:hover{
        cursor:pointer;
    }
</style>



